jupyter-book==0.12.3
matplotlib
numpy
jax
jaxlib
pandas
tensorflow>=2.7
seaborn
tabulate
sklearn
pydot
pillow>=8.3.2
mordred[full]
moviepy
networkx
pygraphviz
MDAnalysis
emlp==1.0.2
tensorflow-probability
dm-haiku
selfies
tensorflowjs
exmol
rdkit-pypi>=2022
