name: deploy-book

on:
  workflow_dispatch:

jobs:
  deploy-book:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: write

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y graphviz libgraphviz-dev
        pip install pygraphviz
        pip install -e package/

    - name: Build the book
      run: jupyter-book build .

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: _build/html
        force_orphan: false
        cname: dmol.pub
